<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archery Scores | <%= title  %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/"><h1>Archery Score Sheet</h1></a>
    <p>Sort through and input scores</p>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/scores">Scores</a></li>
            <li><a href="/score-input">Input a score</a></li>
        </ul>
    </nav>

    <div class="scores content">
        <h2>All Scores</h2>
        <div class="scores-container">
            <% scores.forEach(score => { %>
                <div class="score-row" id="<%= score.id %>">
                    <div class="archer"><p><%= score.archer %></p></div>
                    <div class="score"><p><%= score.score  %></p></div>
                    <div class="date"><p><%= score.date %></p></div>
                    <form action="/scores/<%= score.id %>/delete" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    <button class="edit">Edit</button>
                    <button class="save" disabled>Save Changes</button>
                    
                    
                </div>
            <% }) %>
        </div>
    </div>
    <footer>
        <p>
            Copyright &copy; Isaac Young
        </p>
    </footer>
    <script src="script.js"></script>
</body>
</html>